.container_info {
    background: linear-gradient(135deg, rgb(8, 100, 109) 0%, rgb(135, 8, 75) 100%);
    height: calc(100vh - 80px);
    padding: 19px;
    padding-bottom: 0px;
}

.info_container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto;
    margin-top: 26px;
    margin-left: 26px;
    grid-column-gap: 50px;
}

.info_name {
    margin-top: 14px;
    color: var(--primary);
    font-weight: bold;
    font-family: mild;
    text-decoration: underline;
}

.info_img {
    width: 400px;
    height: 500px;
    grid-row: 1/3;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.info_details {
    height: fit-content;
    width: fit;
    margin-top: 51px;
    color: var(--primary);
    font-weight: bold;
    font-family: mild;
    font-size: 20px;

}

.info_status {
    grid-column-start: 2;
    color: var(--primary);
    font-weight: bold;
    font-family: mild;
    font-size: 20px;
}

.info_status_text {
    grid-column-start: 2;
    color: var(--primary);
    font-weight: bold;
    font-family: mild;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding-left: 6px;
}

.options_select {
    border: none;
    background-color: black;
    color: rgb(212, 13, 119);
    outline: solid 1px var(--primary);
    margin-left: 10px;
    font-family: mild;
    font-size: 15px;
    padding: 2px;
    padding-bottom: 1px;
}


.info_form {
    display: flex;
    margin: 14px;
}

.ep_numbers {
    width: fit-content;
}

.info_details>p {
    margin: 14px;
}

.status_login {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    font-family: mild;
    font-size: 20px;
    padding-left: 10px;
}
.status_login:hover {
    color: rgb(212, 13, 119);

}


@media only screen and (max-width: 764px) {
    .info_img {
        width: 317px;
    }

    .info_container {
        grid-template-columns: 317px auto;
    }

}

@media only screen and (max-width: 677px) {
    .info_img {
        width: 170px;
        height: 317px;
        margin-top: 71px;
    }

    .info_container {
        grid-template-columns: 170px auto;
        grid-column-gap: 30px;
    }

}

@media only screen and (max-width: 547px) {
    .info_img {
        width: 170px;
        height: 317px;
        margin-top: 71px;
    }

    .info_details {
        margin-top: 94px;
    }



    .dif {
        margin-bottom: 0px;
    }

    .info_container {
        grid-template-columns: 170px auto;
        grid-column-gap: 2px;
    }

    .hide_info {
        display: none;
    }


    .info_form {
        flex-flow: row;
        flex-wrap: wrap;
    }

    .ep_numbers {
        margin-left: 70px;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 414px) {
    .info_img {
        width: 140px;
        height: 240px;
        margin-top: 74px;
    }

    .info_details {
        margin-top: 85px;
        margin-left: 3px;
    }


    .dif {
        margin-bottom: 0px;
    }

    .info_container {
        grid-template-columns: 140px auto;
        grid-column-gap: 2px;
        margin-left: 8px;
    }

    .hide_info {
        display: none;
    }


    .info_form {
        flex-wrap: wrap;
        margin: 0px;
    }

    .options_select {
        margin-left: 8px;
    }

    .ep_numbers {
        margin-left: 92px;
        margin-top: 8px;
    }

    .status_text {
        margin-left: 20px;
    }


}