.search_container {
    background: linear-gradient(135deg, rgb(8, 100, 109) 0%, rgb(135, 8, 75) 100%);
    height: calc(100vh - 80px);
}

.search_bar_container {
    text-align: center;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
}

.search_bar {
    width: 280px;
    height: 35px;
    margin: 40px;
    background-color: black;
    outline: solid 1px var(--primary);
    border: none;
    color: white;
    transition: outline 1s ease-out;
    padding-left: 10px;
    font-family: mild;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search_bar:focus {
    transform: scale(1, 1.1);
    outline: solid 1px rgb(71, 52, 243);
}

.msg {
    /* margin-top: 0px; */
    background-color: black;
    padding: 10px;
}